.popover-dismiss {
  background: linear-gradient(rgb(240, 173, 78), rgb(240, 173, 78)) !important;
  border: 1px solid rgb(175, 175, 175) !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
